{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <body>
        <table width="100%" height="40px" border="1">

            <td width="16%" align="center"><b>Navigation Bar:</b></td>
    
            <td width="16%" align="center"><b><a>
            Create a Trip Schedule</a></b></td>
    
            <td width="16%" align="center"><b><a>
            Query a Trip Schedule</a></b></td>
    
            <td width="16%" align="center"><b><a>
            Create a Trip</a></b></td>
    
            <td width="16%" align="center"><b><a>
            Query a Trip</a></b></td>
    
        </table>

        


    </body>
{% endblock %}