{% extends 'taskbar.html' %}
{% load static %}
{% block title %}Trip Create{% endblock %}
{% block content %}
    <head>
        <title>Trip Create</title>
    </head>
    <body>
        <form method="POST">
        <h1>Insert a Trip: </h1>
            {% csrf_token %}
            {{ form.as_div }}
            <div>
                <h4>Inter Town Trip</h4>
                <p>Fill this form only if Trip Type is "ITR".</p>
                {{ inter_town_trip_form.as_p }}
            </div>
            <div>
                {{ local_trip_form.as_p }}
            </div>
            <button>INSERT</button>
        </form>
    </body>
</html>
{% endblock %}
