{% extends 'taskbar.html' %}
{% load static %}
{% block title %}Trip Query{% endblock %}
{% block content %}
    <head>
        <title>Trip Query</title>
    </head>
    <body>

        <h1>Query Trips: </h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button>SELECT</button>
        </form>


        <h2>Query Results:</h2>

        <table border="2">
            <thead>
                <tr>
                    <th>Trip ID</th>
                    <th>Trip Schedule</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Train Number</th>
                    <th>Trip Type</th>
                    <th>Cost in Lion Coins</th>
                    <th>Duration Time in Minutes</th>
                </tr>
            </thead>
                {% for t in queries %}
                    <tr>
                        <td><a href="{% url 'TripScheduling:trip-update' t.pk %}">{{ t.trip_id }}</a></td>
                        <td>{{ t.trip_schedule_id }}</td>
                        <td>{{ t.origin }}</td>
                        <td>{{ t.destination }}</td>
                        <td>{{ t.departure_time }}</td>
                        <td>{{ t.arrival_time }}</td>
                        <td>{{ t.train_number }}</td>
                        <td>{{ t.get_trip_type_display }}</td>
                        <td>
                            {% if t.inter_town_trips %}
                                <a href="{% url 'TripScheduling:ittrip-update' t.inter_town_trips.pk %}">{{ t.inter_town_trips.cost_in_lion_coins }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if t.inter_town_trips %}
                                {{ t.inter_town_trips.duration_time_in_minutes }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </body>
{% endblock %}
