{% extends 'taskbar.html' %}
{% load static %}
{% block title %}Trip Schedule Query{% endblock %}
{% block content %}
    <head>
        <title>Trip Schedule Query</title>
    </head>
    <body>

        <h1>Query Trip Schedules:</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button>SELECT</button>
        </form>

        <h2>Query Results:</h2>

        <table border="2">
            <thead>
                <tr>
                    <th>Trip Schedule ID</th>
                    <th>Date</th>
                </tr>
            </thead>
            {% for ts in queries %}
                <tr>
                    <td><a href="{% url 'TripScheduling:tripschedule-update' ts.pk %}">{{ ts.trip_schedule_id }}</a></td>
                    <td>{{ ts.date }}</td>
                </tr>
            {% endfor %}

        </table>
        
    </body>
</html>
{% endblock %}
